In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [53]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

### Read data

In [58]:
df1 = pd.read_csv('./data/LoanStats_securev1_2017Q1.csv', skiprows=[0])
df2 = pd.read_csv('./data/LoanStats_securev1_2017Q2.csv', skiprows=[0])
df3 = pd.read_csv('./data/LoanStats_securev1_2017Q3.csv', skiprows=[0])
df4 = pd.read_csv('./data/LoanStats3c_securev1_2014.csv', skiprows=[0])
df5 = pd.read_csv('./data/LoanStats3d_securev1_2015.csv', skiprows=[0])

/Users/sabber/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,118,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/sabber/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/sabber/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/sabber/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,19,129,130,131,134,135,136,139) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/sabber/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,19,59) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [60]:
df = pd.concat([df1, df2, df3, df4, df5])

### Get familiar with data

In [61]:
df.shape

(981665, 151)

In [74]:
print(list(df.columns))

['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'fico_range_low', 'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'revol_bal_joint', 'sec_app_fico_range_low', 'sec_app_fico_range_high', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog', 'hardship_flag', 'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term', 'hardship_amount', 'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'disbursement_method', 'debt_settlement_flag', 'debt_settlement_flag_date', 'settlement_status', 'settlement_date', 'settlement_amount', 'settlement_percentage', 'settlement_term']

In [62]:
df.head(5)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,104046719,NaN,14000.0,14000.0,14000.0,36 months,15.99%,492.13,C,C5,Project Leader,10+ years,MORTGAGE,82000.0,Source Verified,Mar-2017,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,credit_card,Credit card refinancing,672xx,KS,31.07,0.0,May-1996,725.0,729.0,0.0,NaN,NaN,18.0,0.0,69578.0,63.2%,31.0,w,11438.26,11438.26,3912.17,3912.17,2561.74,1350.43,0.0,0.0,0.0,Dec-2017,492.13,Jan-2018,Dec-2017,714.0,710.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,202617.0,0.0,3.0,0.0,1.0,22.0,34430.0,57.0,0.0,2.0,13686.0,61.0,110037.0,0.0,9.0,0.0,3.0,11257.0,29762.0,63.4,0.0,0.0,140.0,250.0,13.0,13.0,6.0,13.0,NaN,13.0,NaN,0.0,7.0,9.0,8.0,13.0,4.0,14.0,21.0,9.0,18.0,0.0,0.0,0.0,0.0,100.0,25.0,0.0,0.0,286204.0,104008.0,81400.0,60167.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,104048967,NaN,5000.0,5000.0,5000.0,36 months,25.49%,200.10,E,E4,Pilot,10+ years,MORTGAGE,215000.0,Source Verified,Mar-2017,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,067xx,CT,6.06,0.0,Jan-2004,765.0,769.0,4.0,NaN,NaN,11.0,0.0,8678.0,18.8%,16.0,f,4190.59,4190.59,1586.64,1586.64,809.41,777.23,0.0,0.0,0.0,Dec-2017,200.10,Jan-2018,Dec-2017,779.0,775.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,44754.0,1.0,3.0,2.0,4.0,7.0,35832.0,68.0,2.0,2.0,8659.0,27.0,46200.0,2.0,0.0,6.0,6.0,4069.0,37522.0,18.8,0.0,0.0,83.0,87.0,5.0,5.0,0.0,5.0,NaN,0.0,NaN,0.0,2.0,2.0,7.0,8.0,7.0,7.0,8.0,2.0,11.0,0.0,0.0,0.0,4.0,100.0,0.0,0.0,0.0,100763.0,44754.0,46200.0,49814.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,104028593,NaN,4600.0,4600.0,4600.0,36 months,11.39%,151.45,B,B3,cable technician,4 years,RENT,44470.0,Not Verified,Mar-2017,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,credit_card,Credit card refinancing,066xx,CT,13.43,0.0,Dec-2003,770.0,774.0,1.0,NaN,NaN,7.0,0.0,5400.0,19.1%,11.0,w,3708.50,3708.50,1205.78,1205.78,891.50,314.28,0.0,0.0,0.0,Dec-2017,151.45,Jan-2018,Dec-2017,769.0,765.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,9625.0,1.0,1.0,0.0,1.0,22.0,4225.0,36.0,2.0,4.0,4670.0,24.0,28300.0,0.0,0.0,1.0,5.0,1375.0,9610.0,33.7,0.0,0.0,77.0,159.0,1.0,1.0,0.0,7.0,NaN,1.0,NaN,0.0,2.0,3.0,3.0,4.0,2.0,6.0,9.0,3.0,7.0,0.0,0.0,0.0,2.0,100.0,0.0,0.0,0.0,40000.0,9625.0,14500.0,11700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,104046702,NaN,14000.0,14000.0,14000.0,60 months,12.74%,316.69,C,C1,Specialty Sales,4 years,OWN,40000.0,Not Verified,Mar-2017,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,credit_card,Credit card refinancing,926xx,CA,17.48,0.0,Feb-1974,715.0,719.0,0.0,NaN,NaN,10.0,0.0,25787.0,46.2%,23.0,w,12604.51,12604.51,2585.32,2585.32,1395.49,1189.83,0.0,0.0,0.0,Dec-2017,316.69,Jan-2018,Dec-2017,714.0,710.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,25787.0,2.0,0.0,0.0,0.0,129.0,0.0,NaN,5.0,7.0,8549.0,46.0,55800.0,0.0,3.0,0.0,7.0,2579.0,27153.0,48.3,0.0,0.0,129.0,517.0,1.0,1.0,1.0,2.0,NaN,23.0,NaN,0.0,7.0,9.0,8.0,13.0,1.0,10.0,21.0,9.0,10.0,0.0,0.0,0.0,5.0,100.0,37.5,0.0,0.0,55800.0,25787.0,52500.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,104280113,NaN,15000.0,15000.0,15000.0,36 months,5.32%,451.73,A,A1,Executive Account Manager,10+ years,MORTGAGE,182000.0,Not Verified,Mar-2017,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,751xx,TX,9.35,0.0,Nov-1974,740.0,744.0,0.0,NaN,NaN,13.0,0.0,34623.0,33.7%,32.0,w,11869.91,11869.91,3604.97,3604.97,3130.09,474.88,0.0,0.0,0.0,Dec-2017,451.73,Jan-2018,Dec-2017,734.0,730.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,233521.0,0.0,1.0,0.0,1.0,24.0,2667.0,59.0,2.0,2.0,12503.0,42.0,102600.0,1.0,6.0,0.0,4.0,17963.0,55203.0,26.0,0.0,0.0,92.0,508.0,8.0,8.0,5.0,8.0,NaN,17.0,NaN,0.0,3.0,6.0,7.0,11.0,9.0,10.0,16.0,6.0,13.0,0.0,0.0,0.0,2.0,100.0,0.0,0.0,0.0,325464.0,50766.0,74600.0,4508.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
df.dtypes.sort_values().to_frame('feature_type').groupby(by = 'feature_type').size().to_frame('count').reset_index()

  feature_type  count
0      float64    111
1       object     40

In [75]:
df_dtypes = pd.merge(df.isnull().sum(axis = 0).sort_values().to_frame('missing_value').reset_index(),
         df.dtypes.to_frame('feature_type').reset_index(),
         on = 'index',
         how = 'inner')

In [76]:
df_dtypes.sort_values(['missing_value', 'feature_type'])

                                          index  missing_value feature_type
0                                            id              0       object
1                                   tot_cur_bal             10      float64
2                                  tot_coll_amt             10      float64
3                                acc_now_delinq             10      float64
4                               tot_hi_cred_lim             10      float64
5                             total_bal_ex_mort             10      float64
6                                total_bc_limit             10      float64
8                                   policy_code             10      float64
9                    total_il_high_credit_limit             10      float64
10                   collections_12_mths_ex_med             10      float64
11                          last_fico_range_low             10      float64
12                         last_fico_range_high             10      float64
13                              last_pymnt_amnt             10      float64
14                               num_actv_bc_tl             10      float64
15                      collection_recovery_fee             10      float64
16                                   recoveries             10      float64
17                           total_rec_late_fee             10      float64
18                                    tax_liens             10      float64
19                                total_rec_int             10      float64
20                         pub_rec_bankruptcies             10      float64
21                           num_tl_op_past_12m             10      float64
22                        num_accts_ever_120_pd             10      float64
23                                  num_bc_sats             10      float64
24                                     mort_acc             10      float64
25                               mo_sin_rcnt_tl             10      float64
26                        mo_sin_rcnt_rev_tl_op             10      float64
27                         mo_sin_old_rev_tl_op             10      float64
28                                  delinq_amnt             10      float64
29                     chargeoff_within_12_mths             10      float64
30                         acc_open_past_24mths             10      float64
31                                    num_bc_tl             10      float64
32                                    num_il_tl             10      float64
33                                num_op_rev_tl             10      float64
34                             total_rev_hi_lim             10      float64
35                          num_rev_tl_bal_gt_0             10      float64
36                                     num_sats             10      float64
37                                 num_tl_30dpd             10      float64
38                           num_tl_90g_dpd_24m             10      float64
39                               pct_tl_nvr_dlq             10      float64
40                              total_rec_prncp             10      float64
41                              num_actv_rev_tl             10      float64
42                                  total_pymnt             10      float64
44                              total_pymnt_inv             10      float64
48                                   annual_inc             10      float64
52                                  installment             10      float64
55                              funded_amnt_inv             10      float64
56                                  funded_amnt             10      float64
57                                    loan_amnt             10      float64
62                                      pub_rec             10      float64
63                                out_prncp_inv             10      float64
64                                    out_prncp             10      float64
66                                  delinq_2yrs             10      float64
68                               fico_range_low             10      float64
69                              fico_range_high             10      float64
70                                    total_acc             10      float64
71                               inq_last_6mths             10      float64
72                                    revol_bal             10      float64
75                                     open_acc             10      float64
7                              application_type             10       object
43                                          url             10       object
45                                  loan_status             10       object
46                                      issue_d             10       object
47                          verification_status             10       object
49                               home_ownership             10       object
50                          disbursement_method             10       object
51                                    sub_grade             10       object
53                                     int_rate             10       object
54                                         term             10       object
58                         debt_settlement_flag             10       object
59                                        grade             10       object
60                                      purpose             10       object
61                                   pymnt_plan             10       object
65                          initial_list_status             10       object
67                             earliest_cr_line             10       object
73                                   addr_state             10       object
74                                hardship_flag             10       object
77                                num_rev_accts             11      float64
76                                     zip_code             11       object
78                                  avg_cur_bal             23      float64
79                           last_credit_pull_d             50       object
80                                        title            142       object
81                                          dti            304      float64
82                                   revol_util            550       object
83                                 last_pymnt_d            878       object
84                         mths_since_recent_bc           9718      float64
85                               bc_open_to_buy          10282      float64
86                             percent_bc_gt_75          10677      float64
87                                      bc_util          10862      float64
88                           mo_sin_old_il_acct          28220      float64
89                             num_tl_120dpd_2m          42519      float64
90                                   emp_length          57995       object
91                                    emp_title          59595       object
92                        mths_since_recent_inq         103454      float64
93                                 next_pymnt_d         457738       object
94                       mths_since_last_delinq         477730      float64
95               mths_since_recent_revol_delinq         631372      float64
96                                       inq_fi         635362      float64
97                                 inq_last_12m         635362      float64
98                                  open_acc_6m         635362      float64
99                                  open_act_il         635362      float64
100                                 open_il_24m         635362      float64
101                                total_bal_il         635362      float64
102                                 open_rv_12m         635362      float64
103                                 open_il_12m         635362      float64
104                                  max_bal_bc         635362      float64
105                                 total_cu_tl         635362      float64
106                                 open_rv_24m         635362      float64
107                                    all_util         635392      float64
108                          mths_since_rcnt_il         644709      float64
109                                     il_util         681303      float64
110                 mths_since_last_major_derog         702961      float64
111                    mths_since_recent_bc_dlq         732439      float64
112                      mths_since_last_record         807460      float64
114                            annual_inc_joint         955940      float64
113                   verification_status_joint         955940       object
115                                   dti_joint         955942      float64
116          sec_app_collections_12_mths_ex_med         959840      float64
117            sec_app_chargeoff_within_12_mths         959840      float64
118                       sec_app_num_rev_accts         959840      float64
119                            sec_app_open_acc         959840      float64
120                         sec_app_open_act_il         959840      float64
121                      sec_app_inq_last_6mths         959840      float64
123                     sec_app_fico_range_high         959840      float64
124                      sec_app_fico_range_low         959840      float64
125                             revol_bal_joint         959840      float64
126                            sec_app_mort_acc         959840      float64
122                    sec_app_earliest_cr_line         959840       object
127                          sec_app_revol_util         960128      float64
128                                        desc         966341       object
129                           settlement_amount         973035      float64
133                             settlement_term         973035      float64
134                       settlement_percentage         973035      float64
130                             settlement_date         973035       object
131                           settlement_status         973035       object
132                   debt_settlement_flag_date         973035       object
135         sec_app_mths_since_last_major_derog         974124      float64
140                             hardship_amount         978661      float64
141                hardship_last_payment_amount         978661      float64
143                                hardship_dpd         978661      float64
144                             hardship_length         978661      float64
146                               deferral_term         978661      float64
147              hardship_payoff_balance_amount         978661      float64
136                         hardship_start_date         978661       object
137                               hardship_type         978661       object
138                             hardship_reason         978661       object
139                             hardship_status         978661       object
142                        hardship_loan_status         978661       object
145                     payment_plan_start_date         978661       object
148                           hardship_end_date         978661       object
149  orig_projected_additional_accrued_interest         979086      float64
150                                   member_id         981665      float64

### Feature selections and clean

#### 1. Remove rows associated with 10 missing value features:

In [115]:
missing_df = df.isnull().sum(axis = 0).sort_values().to_frame('missing_value').reset_index()

In [131]:
miss_10 = list(missing_df[missing_df.missing_value <= 11]['index'])

In [147]:
null_data = df[df[miss_10].isnull().any(axis=1)]

In [150]:
null_data

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
81812,96387212,5600.0,5600.0,5600.0,36 months,15.99%,196.86,C,C5,Electrician,10+ years,MORTGAGE,40000.0,Verified,Jan-2017,Current,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,NaN,AL,22.86,0.0,Jul-2005,670.0,674.0,1.0,NaN,8.0,1.0,7129.0,68.5%,18.0,f,4162.09,4162.09,2160.49,2160.49,1437.91,722.58,0.0,0.0,0.0,Dec-2017,196.86,Jan-2018,Dec-2017,689.0,685.0,0.0,1.0,Individual,0.0,0.0,90183.0,1.0,3.0,0.0,6.0,15.0,10038.0,66.0,1.0,1.0,2363.0,67.0,10400.0,6.0,0.0,3.0,9.0,11273.0,3271.0,68.5,0.0,0.0,103.0,41.0,11.0,6.0,4.0,11.0,6.0,NaN,0.0,4.0,4.0,4.0,5.0,9.0,4.0,5.0,4.0,8.0,0.0,0.0,0.0,2.0,100.0,50.0,1.0,0.0,99094.0,17167.0,10400.0,15231.0,N,Cash,N
96779,Total amount funded in policy code 1: 1437969475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96780,Total amount funded in policy code 2: 520780182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105451,Total amount funded in policy code 1: 1538432075,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105452,Total amount funded in policy code 2: 608903141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122701,Total amount funded in policy code 1: 1791201400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
122702,Total amount funded in policy code 2: 651669342,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235629,Total amount funded in policy code 1: 3503840175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235630,Total amount funded in policy code 2: 873652739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85927,63407533,4800.0,4800.0,4800.0,36 months,13.99%,164.03,C,C4,Driver,8 years,MORTGAGE,41600.0,Source Verified,Oct-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,128xx,NY,16.04,1.0,Nov-1997,675.0,679.0,1.0,21.0,4.0,1.0,2481.0,62%,10.0,f,0.00,0.00,5425.10,5425.10,4800.00,625.10,0.0,0.0,0.0,Dec-2016,3464.20,NaN,Dec-2017,649.0,645.0,0.0,1.0,Individual,0.0,100.0,20862.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4000.0,NaN,NaN,NaN,1.0,5216.0,1519.0,62.0,0.0,0.0,91.0,215.0,4.0,4.0,2.0,4.0,4.0,33.0,0.0,3.0,3.0,3.0,3.0,3.0,3.0,NaN,3.0,4.0,0.0,0.0,0.0,1.0,80.0,66.7,1.0,0.0,33714.0,20862.0,4000.0,29714.0,N,Cash,N
421095,Total amount funded in policy code 1: 6417608175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
421096,Total amount funded in policy code 2: 1944088810,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [157]:
print(null_data.index)
miss_10_row_index = list(null_data.index)

Int64Index([ 81812,  96779,  96780, 105451, 105452, 122701, 122702, 235629,
            235630,  85927, 421095, 421096],
           dtype='int64')

In [159]:
miss_10_row_index.remove(81812)

In [160]:
miss_10_row_index

[96779,
 96780,
 105451,
 105452,
 122701,
 122702,
 235629,
 235630,
 85927,
 421095,
 421096]

In [161]:
df = df[~df.index.isin(miss_10_row_index)]

#### 2. remove colums associated with 700000 missing values

In [119]:
miss_7000 = list(missing_df[missing_df.missing_value >= 700000]['index'])

In [122]:
df.drop(miss_7000, axis = 1, inplace= True)

In [123]:
df.shape

(981665, 110)

In [163]:
df.isnull().sum(axis = 0).sort_values().to_frame('missing_value').reset_index()

                              index  missing_value
0                                id              0
1                          mort_acc              0
2                    mo_sin_rcnt_tl              0
3             mo_sin_rcnt_rev_tl_op              0
4              mo_sin_old_rev_tl_op              0
5                       delinq_amnt              0
6          chargeoff_within_12_mths              0
7              acc_open_past_24mths              0
8                  total_rev_hi_lim              0
9                       tot_cur_bal              0
10              disbursement_method              0
11                   acc_now_delinq              0
12                 application_type              0
13                      policy_code              0
14       collections_12_mths_ex_med              0
15              last_fico_range_low              0
16             last_fico_range_high              0
17                  last_pymnt_amnt              0
18            num_accts_ever_120_pd              0
19          collection_recovery_fee              0
20                   num_actv_bc_tl              0
21                      num_bc_sats              0
22                    hardship_flag              0
23       total_il_high_credit_limit              0
24                   total_bc_limit              0
25                total_bal_ex_mort              0
26                  tot_hi_cred_lim              0
27                        tax_liens              0
28             pub_rec_bankruptcies              0
29                   pct_tl_nvr_dlq              0
30               num_tl_op_past_12m              0
31               num_tl_90g_dpd_24m              0
32                     num_tl_30dpd              0
33                         num_sats              0
34              num_rev_tl_bal_gt_0              0
35                    num_rev_accts              0
36                    num_op_rev_tl              0
37                        num_il_tl              0
38                        num_bc_tl              0
39                  num_actv_rev_tl              0
40                       recoveries              0
41                     tot_coll_amt              0
42                    total_rec_int              0
43                  fico_range_high              0
44                   fico_range_low              0
45                 earliest_cr_line              0
46                      delinq_2yrs              0
47                       addr_state              0
48                          purpose              0
49                              url              0
50                       pymnt_plan              0
51                      loan_status              0
52                          issue_d              0
53              verification_status              0
54                       annual_inc              0
55                   home_ownership              0
56                        sub_grade              0
57                            grade              0
58                      installment              0
59                         int_rate              0
60                             term              0
61                  funded_amnt_inv              0
62                      funded_amnt              0
63                        loan_amnt              0
64               total_rec_late_fee              0
65                         open_acc              0
66                   inq_last_6mths              0
67             debt_settlement_flag              0
68                  total_rec_prncp              0
69                        revol_bal              0
70                  total_pymnt_inv              0
71                          pub_rec              0
72              initial_list_status              0
73                        out_prncp              0
74                      total_pymnt              0
75                    out_prncp_inv              0
76                        total_acc              0
77                         zip_code              1
78                      avg_cur_bal             13
79               last_credit_pull_d             40
80                            title            132
81                              dti            294
82                       revol_util            540
83                     last_pymnt_d            868
84             mths_since_recent_bc           9708
85                   bc_open_to_buy          10272
86                 percent_bc_gt_75          10667
87                          bc_util          10852
88               mo_sin_old_il_acct          28210
89                 num_tl_120dpd_2m          42508
90                       emp_length          57983
91                        emp_title          59583
92            mths_since_recent_inq         103439
93                     next_pymnt_d         457718
94           mths_since_last_delinq         477706
95   mths_since_recent_revol_delinq         631345
96                       max_bal_bc         635336
97                      open_act_il         635336
98                      open_il_24m         635336
99                     total_bal_il         635336
100                     open_rv_12m         635336
101                     open_rv_24m         635336
102                    inq_last_12m         635336
103                     total_cu_tl         635336
104                          inq_fi         635336
105                     open_acc_6m         635336
106                     open_il_12m         635336
107                        all_util         635366
108              mths_since_rcnt_il         644683
109                         il_util         681276

#### 3. Remove constant features

In [79]:
def find_constant_features(dataFrame):
    const_features = []
    for column in list(dataFrame.columns):
        if dataFrame[column].unique().size < 2:
            const_features.append(column)
    return const_features

In [80]:
const_features = find_constant_features(df)

In [81]:
const_features

['member_id']

In [82]:
df.drop(const_features, axis = 1, inplace = True)

#### 2. Remove Duplicate rows

In [83]:
df.shape

(981665, 150)

In [84]:
df.drop_duplicates(inplace= True)

In [85]:
df.shape

(981665, 150)

#### 3. Remove duplicate columns

In [86]:
def duplicate_columns(frame):
    groups = frame.columns.to_series().groupby(frame.dtypes).groups
    dups = []

    for t, v in groups.items():

        cs = frame[v].columns
        vs = frame[v]
        lcs = len(cs)

        for i in range(lcs):
            ia = vs.iloc[:,i].values
            for j in range(i+1, lcs):
                ja = vs.iloc[:,j].values
                if np.array_equal(ia, ja):
                    dups.append(cs[i])
                    break
    return dups

In [87]:
duplicate_cols = duplicate_columns(df)

In [88]:
duplicate_cols

[]

#### 4. Remove/process features manually

### 0-10 features

In [91]:
df.iloc[0:5, 0: 10]

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title
0,104046719,14000.0,14000.0,14000.0,36 months,15.99%,492.13,C,C5,Project Leader
1,104048967,5000.0,5000.0,5000.0,36 months,25.49%,200.10,E,E4,Pilot
2,104028593,4600.0,4600.0,4600.0,36 months,11.39%,151.45,B,B3,cable technician
3,104046702,14000.0,14000.0,14000.0,60 months,12.74%,316.69,C,C1,Specialty Sales
4,104280113,15000.0,15000.0,15000.0,36 months,5.32%,451.73,A,A1,Executive Account Manager

In [106]:
len(df.loan_amnt.value_counts())

1549

It looks like all loans are not unique. Certain amount appresa several time. It may be the reason, company has some range or certain amount to lend

##### Term feature

In [165]:
df.term = df.term.str.replace('months', '').astype(np.int)

In [166]:
df.term.value_counts()

36    683473
60    298157
Name: term, dtype: int64

##### interest rate feature

In [167]:
df.int_rate = df.int_rate.str.replace('%', '').astype(np.float32)

In [170]:
len(df.int_rate.value_counts())

201

##### emp_title

In [172]:
len(df.emp_title.value_counts())

232287

It looks like emp_title has lots of unique value, which may not be strongly associated with predicted loan amount

In [173]:
df.drop('emp_title', axis = 1, inplace= True)

In [238]:
df.drop('id', axis = 1, inplace= True)

#### 11-20 features

In [174]:
df.iloc[0:5, 11: 20]

,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code
0,82000.0,Source Verified,Mar-2017,Current,n,https://lendingclub.com/browse/loanDetail.acti...,credit_card,Credit card refinancing,672xx
1,215000.0,Source Verified,Mar-2017,Current,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,067xx
2,44470.0,Not Verified,Mar-2017,Current,n,https://lendingclub.com/browse/loanDetail.acti...,credit_card,Credit card refinancing,066xx
3,40000.0,Not Verified,Mar-2017,Current,n,https://lendingclub.com/browse/loanDetail.acti...,credit_card,Credit card refinancing,926xx
4,182000.0,Not Verified,Mar-2017,Current,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Debt consolidation,751xx

In [178]:
df.verification_status.value_counts()

Source Verified    401673
Not Verified       304585
Verified           275372
Name: verification_status, dtype: int64

I assume Source Verified and Verified are the same, therefor I will make it as a binary feature.

In [179]:
df.verification_status = df.verification_status.map(lambda x: 1 if x == 'Not Verified' else 0)

In [180]:
df.verification_status.value_counts()

0    677045
1    304585
Name: verification_status, dtype: int64

#### issue_d

In [181]:
df.issue_d.value_counts()

Oct-2015    48624
Jul-2015    45960
Dec-2015    44343
Aug-2017    43573
Sep-2017    39713
Jul-2017    39410
Oct-2014    38783
Jun-2017    38087
May-2017    37681
Nov-2015    37530
Mar-2017    37181
Aug-2015    35886
Apr-2015    35427
Jan-2015    35107
May-2015    31913
Jan-2017    31834
Apr-2017    29680
Jul-2014    29303
Sep-2015    28641
Jun-2015    28485
Feb-2017    27763
Mar-2015    25400
Nov-2014    25054
Feb-2015    23770
May-2014    19099
Apr-2014    19071
Aug-2014    18810
Jun-2014    17179
Mar-2014    16513
Jan-2014    15628
Feb-2014    15269
Sep-2014    10606
Dec-2014    10307
Name: issue_d, dtype: int64

In [183]:
df.issue_d = pd.Series(df.issue_d).str.replace(r'-\d+', '')

In [187]:
df.issue_d = df.issue_d.astype("category", categories=np.unique(df.issue_d)).cat.codes

/Users/sabber/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  """Entry point for launching an IPython kernel.

In [188]:
df.issue_d.value_counts()

5     114673
1      98269
8      88693
10     87407
0      84178
6      83751
4      82569
7      79094
11     78960
3      66802
9      62584
2      54650
Name: issue_d, dtype: int64

#### loan status

In [182]:
df.loan_status.value_counts()

Current               500922
Fully Paid            358623
Charged Off            99095
Late (31-120 days)     13203
In Grace Period         6337
Late (16-30 days)       3414
Default                   36
Name: loan_status, dtype: int64

#### pymnt_plan

In [189]:
df.pymnt_plan.value_counts()

n    981171
y       459
Name: pymnt_plan, dtype: int64

In [190]:
df.pymnt_plan = df.pymnt_plan.map(lambda x: 1 if x == 'n' else 0)

#### url

In [191]:
df.drop('url', axis = 1, inplace = True)

#### purpose

In [192]:
df.purpose.value_counts()

debt_consolidation    575644
credit_card           223698
home_improvement       64351
other                  51785
major_purchase         19219
medical                11189
car                     9262
small_business          9086
vacation                6581
moving                  6492
house                   3747
renewable_energy         562
wedding                   13
educational                1
Name: purpose, dtype: int64

#### title

In [194]:
len(df.title.value_counts())

2071

In [195]:
df.drop('title', axis = 1, inplace = True)

#### zip_code

In [197]:
len(df.zip_code.value_counts())

936

In [198]:
df.drop('zip_code', axis = 1, inplace = True)

### 21 - 30 features

In [199]:
df.iloc[0:5, 21: 30]

,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,open_acc,pub_rec,revol_bal,revol_util,total_acc
0,725.0,729.0,0.0,NaN,18.0,0.0,69578.0,63.2%,31.0
1,765.0,769.0,4.0,NaN,11.0,0.0,8678.0,18.8%,16.0
2,770.0,774.0,1.0,NaN,7.0,0.0,5400.0,19.1%,11.0
3,715.0,719.0,0.0,NaN,10.0,0.0,25787.0,46.2%,23.0
4,740.0,744.0,0.0,NaN,13.0,0.0,34623.0,33.7%,32.0

In [210]:
df.revol_util = df.revol_util.str.replace('%', '').astype(np.float32)

In [212]:
#df.total_acc.value_counts()

### 31 - 40 features

In [213]:
df.iloc[0:5, 31: 40]

,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee
0,11438.26,11438.26,3912.17,3912.17,2561.74,1350.43,0.0,0.0,0.0
1,4190.59,4190.59,1586.64,1586.64,809.41,777.23,0.0,0.0,0.0
2,3708.50,3708.50,1205.78,1205.78,891.50,314.28,0.0,0.0,0.0
3,12604.51,12604.51,2585.32,2585.32,1395.49,1189.83,0.0,0.0,0.0
4,11869.91,11869.91,3604.97,3604.97,3130.09,474.88,0.0,0.0,0.0

### 41 - 50 features

In [214]:
df.iloc[0:5, 41: 50]

,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq
0,492.13,Jan-2018,Dec-2017,714.0,710.0,0.0,1.0,Individual,0.0
1,200.10,Jan-2018,Dec-2017,779.0,775.0,0.0,1.0,Individual,0.0
2,151.45,Jan-2018,Dec-2017,769.0,765.0,0.0,1.0,Individual,0.0
3,316.69,Jan-2018,Dec-2017,714.0,710.0,0.0,1.0,Individual,0.0
4,451.73,Jan-2018,Dec-2017,734.0,730.0,0.0,1.0,Individual,0.0

In [215]:
df.application_type.value_counts()

Individual    955906
Joint App      25724
Name: application_type, dtype: int64

In [216]:
df.application_type = df.application_type.map(lambda x: 0 if x == 'Individual' else 1)

In [217]:
df.acc_now_delinq.value_counts()

0.0     976190
1.0       5146
2.0        252
3.0         33
4.0          5
7.0          1
6.0          1
5.0          1
14.0         1
Name: acc_now_delinq, dtype: int64

### 51 - 60 features

In [218]:
df.iloc[0:5, 51: 60]

,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m
0,202617.0,0.0,3.0,0.0,1.0,22.0,34430.0,57.0,0.0
1,44754.0,1.0,3.0,2.0,4.0,7.0,35832.0,68.0,2.0
2,9625.0,1.0,1.0,0.0,1.0,22.0,4225.0,36.0,2.0
3,25787.0,2.0,0.0,0.0,0.0,129.0,0.0,NaN,5.0
4,233521.0,0.0,1.0,0.0,1.0,24.0,2667.0,59.0,2.0

### 61 - 70 features

In [219]:
df.iloc[0:5, 61: 70]

,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy
0,13686.0,61.0,110037.0,0.0,9.0,0.0,3.0,11257.0,29762.0
1,8659.0,27.0,46200.0,2.0,0.0,6.0,6.0,4069.0,37522.0
2,4670.0,24.0,28300.0,0.0,0.0,1.0,5.0,1375.0,9610.0
3,8549.0,46.0,55800.0,0.0,3.0,0.0,7.0,2579.0,27153.0
4,12503.0,42.0,102600.0,1.0,6.0,0.0,4.0,17963.0,55203.0

#### 71 - 80 features

In [221]:
df.iloc[0:5, 71: 80]

,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_inq
0,0.0,0.0,140.0,250.0,13.0,13.0,6.0,13.0,13.0
1,0.0,0.0,83.0,87.0,5.0,5.0,0.0,5.0,0.0
2,0.0,0.0,77.0,159.0,1.0,1.0,0.0,7.0,1.0
3,0.0,0.0,129.0,517.0,1.0,1.0,1.0,2.0,23.0
4,0.0,0.0,92.0,508.0,8.0,8.0,5.0,8.0,17.0

#### 81 - 100 features

In [224]:
df.iloc[0:5, 81: 90]

,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0
0,0.0,7.0,9.0,8.0,13.0,4.0,14.0,21.0,9.0
1,0.0,2.0,2.0,7.0,8.0,7.0,7.0,8.0,2.0
2,0.0,2.0,3.0,3.0,4.0,2.0,6.0,9.0,3.0
3,0.0,7.0,9.0,8.0,13.0,1.0,10.0,21.0,9.0
4,0.0,3.0,6.0,7.0,11.0,9.0,10.0,16.0,6.0

### 91 to rest of the features

In [225]:
df.iloc[0:5, 91:]

,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,disbursement_method,debt_settlement_flag
0,0.0,0.0,0.0,0.0,100.0,25.0,0.0,0.0,286204.0,104008.0,81400.0,60167.0,N,Cash,N
1,0.0,0.0,0.0,4.0,100.0,0.0,0.0,0.0,100763.0,44754.0,46200.0,49814.0,N,Cash,N
2,0.0,0.0,0.0,2.0,100.0,0.0,0.0,0.0,40000.0,9625.0,14500.0,11700.0,N,Cash,N
3,0.0,0.0,0.0,5.0,100.0,37.5,0.0,0.0,55800.0,25787.0,52500.0,0.0,N,Cash,N
4,0.0,0.0,0.0,2.0,100.0,0.0,0.0,0.0,325464.0,50766.0,74600.0,4508.0,N,Cash,N

In [226]:
df.hardship_flag.value_counts()

N    980993
Y       637
Name: hardship_flag, dtype: int64

In [228]:
df.hardship_flag = df.hardship_flag.map(lambda x: 0 if x == 'N' else 1)

In [229]:
df.disbursement_method.value_counts()

Cash         981343
DirectPay       287
Name: disbursement_method, dtype: int64

In [230]:
df.disbursement_method = df.disbursement_method.map(lambda x: 0 if x == 'Cash' else 1)

In [231]:
df.debt_settlement_flag.value_counts()

N    973000
Y      8630
Name: debt_settlement_flag, dtype: int64

In [232]:
df.debt_settlement_flag = df.debt_settlement_flag.map(lambda x: 0 if x == 'N' else 1)

### Check the data shape

In [240]:
df_types_processed = pd.merge(df.isnull().sum(axis = 0).sort_values().to_frame('missing_value').reset_index(),
         df.dtypes.to_frame('feature_type').reset_index(),
         on = 'index',
         how = 'inner')

In [241]:
df_types_processed.sort_values(['missing_value', 'feature_type'])

                              index  missing_value feature_type
49                          issue_d              0         int8
13                 application_type              0        int64
17              disbursement_method              0        int64
21                    hardship_flag              0        int64
40             debt_settlement_flag              0        int64
41              verification_status              0        int64
58                       pymnt_plan              0        int64
71                             term              0        int64
72                         int_rate              0      float32
0                         loan_amnt              0      float64
1                          mort_acc              0      float64
2                    mo_sin_rcnt_tl              0      float64
3             mo_sin_rcnt_rev_tl_op              0      float64
4              mo_sin_old_rev_tl_op              0      float64
5                       delinq_amnt              0      float64
6          chargeoff_within_12_mths              0      float64
7              acc_open_past_24mths              0      float64
8             num_accts_ever_120_pd              0      float64
9                  total_rev_hi_lim              0      float64
10                      tot_cur_bal              0      float64
11                     tot_coll_amt              0      float64
12                   acc_now_delinq              0      float64
14                      policy_code              0      float64
15       collections_12_mths_ex_med              0      float64
16              last_fico_range_low              0      float64
18                   num_actv_bc_tl              0      float64
19                  num_actv_rev_tl              0      float64
20                      num_bc_sats              0      float64
22       total_il_high_credit_limit              0      float64
23                   total_bc_limit              0      float64
24                total_bal_ex_mort              0      float64
25                  tot_hi_cred_lim              0      float64
26                        tax_liens              0      float64
27             pub_rec_bankruptcies              0      float64
28                   pct_tl_nvr_dlq              0      float64
29               num_tl_op_past_12m              0      float64
30               num_tl_90g_dpd_24m              0      float64
31                     num_tl_30dpd              0      float64
32                         num_sats              0      float64
33              num_rev_tl_bal_gt_0              0      float64
34                    num_rev_accts              0      float64
35                    num_op_rev_tl              0      float64
36                        num_il_tl              0      float64
37                        num_bc_tl              0      float64
38             last_fico_range_high              0      float64
39                  last_pymnt_amnt              0      float64
42                       annual_inc              0      float64
44                        total_acc              0      float64
45                        revol_bal              0      float64
46                          pub_rec              0      float64
47                         open_acc              0      float64
51                  fico_range_high              0      float64
52                   fico_range_low              0      float64
54                      delinq_2yrs              0      float64
56                   inq_last_6mths              0      float64
59                      funded_amnt              0      float64
60                  total_rec_prncp              0      float64
61                       recoveries              0      float64
62                  total_pymnt_inv              0      float64
63                      total_pymnt              0      float64
64                    out_prncp_inv              0      float64
66                        out_prncp              0      float64
67                    total_rec_int              0      float64
68          collection_recovery_fee              0      float64
69               total_rec_late_fee              0      float64
70                  funded_amnt_inv              0      float64
73                      installment              0      float64
43                          purpose              0       object
48              initial_list_status              0       object
50                      loan_status              0       object
53                 earliest_cr_line              0       object
55                       addr_state              0       object
57                   home_ownership              0       object
65                        sub_grade              0       object
74                            grade              0       object
75                      avg_cur_bal             13      float64
76               last_credit_pull_d             40       object
77                              dti            294      float64
78                       revol_util            540      float32
79                     last_pymnt_d            868       object
80             mths_since_recent_bc           9708      float64
81                   bc_open_to_buy          10272      float64
82                 percent_bc_gt_75          10667      float64
83                          bc_util          10852      float64
84               mo_sin_old_il_acct          28210      float64
85                 num_tl_120dpd_2m          42508      float64
86                       emp_length          57983       object
87            mths_since_recent_inq         103439      float64
88                     next_pymnt_d         457718       object
89           mths_since_last_delinq         477706      float64
90   mths_since_recent_revol_delinq         631345      float64
91                     inq_last_12m         635336      float64
92                      total_cu_tl         635336      float64
93                           inq_fi         635336      float64
94                       max_bal_bc         635336      float64
95                      open_rv_24m         635336      float64
96                      open_rv_12m         635336      float64
97                     total_bal_il         635336      float64
98                      open_il_24m         635336      float64
99                      open_il_12m         635336      float64
100                     open_acc_6m         635336      float64
101                     open_act_il         635336      float64
102                        all_util         635366      float64
103              mths_since_rcnt_il         644683      float64
104                         il_util         681276      float64